.card_Item{
    background-color: #fff;
    box-shadow: 4px 4px 15px 8px #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 25px;
    margin: 15px 0;
}

.clubList_img{
    width: 30%;
    display: block;
    margin: 0 auto;
}

.viewDetailBtn{
    background-color: #263e56;
    border: 2px solid #263e56;
    box-shadow: 2px 2px 4px #ddd;
    color: #fff;
    width: 40%;
}

.viewDetailBtn:hover,
.viewDetailBtn:active,
.viewDetailBtn:focus{
    background-color: #fff !important;
    color: #263e56 !important;
    border: 2px solid #263e56 !important;
    transition: 0.3s;
}

.viewDetailBtn:hover .icon{
    margin-left: 8px;
    transition: 0.8s;
}