.home{
    background-color:#efefef;
}

.banner_img{
    position: relative;
    opacity: 0.55;
    height: 300px;;
}

.logo_img{
    position: absolute;
    top: 17%;
    left: 45%;
    width: 8%;
}

.team_details{
    background-color: cadetblue;
    border-radius: 5px;
    padding: 10px;
    margin: 5% 0;
}

.genderGroupImage{
    float: right;
    width: 80%;
    padding: 2% 0;
}

.teamData{
    list-style-type: none;
    color: #fff;
    padding-left: 0;
}

.teamData li span img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
} 
.teamData li{
    line-height: 30px;
} 

.teamName{
    color: #fff;
}

.description{
    text-align: justify;
    padding: 0 1%;
}

.linkItem{
    height: 40px;
    width: 40px;
    margin: 0 5px;
}